.header {
  background-color: #fff;
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.header__logo {
  width: 94px;
  height: 26px;
  background-image: url(../images/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
